h1{
    background-color: aqua;
    color: brown;
    font-size: 10cm;
    height: 30cm ;
    width: 10cm;
}
h2{
    font-size: 3cm;
    color: aliceblue;
    background: red;
    height: 10cm;
    width: 100mm;
}
img{ 
    width: 1000px;
}